<div ng-app="issuesApp" ng-controller="IssuesController as issuesCtrl">
    <nav class="panel panel-default">
	<div class="panel-heading">
	    <h3>Issues list</h3>
	</div>
	<div class="panel-body">
	    <ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#" ng-click="issuesCtrl.getIssues('open')" aria-controls="open" role="tab" data-toggle="tab">Open</a></li>
		<li role="presentation"><a href="#" ng-click="issuesCtrl.getIssues('resolved')" aria-controls="resolved" role="tab" data-toggle="tab">Resolved</a></li>
	    </ul>
	    <ul class="list-group">
		<li class="list-group-item list-group-item-success">
		    <form ng-submit="issuesCtrl.showForm(issue); issue = null;">
			<div class="input-group">
			    <input type="text" class="form-control" placeholder="Write new issue..." ng-model="issue.title">
			    <span class="input-group-btn">
				<button type="submit" class="btn btn-primary" aria-label="Submit Note">
				    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				</button>
			    </span>
			</div>
		    </form>
		</li>
		<li class="list-group-item" ng-repeat="issue in issuesCtrl.issueList" ng-class="issuesCtrl.getPriorityColor(issue)">
		    <div class="input-group">
			<h4 class="list-group-item-heading">{{issue.title}}</h4>
			<p class="form-control-static">{{issue.text}}</p>
			<p class="form-control-static">Assigned to: {{issue.assignee}}</p>
			<span class="input-group-btn">
			    <button type="button" class="btn btn-default" aria-label="Edit Issue" ng-click="issuesCtrl.showForm(issue)">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			    </button>
			    <button type="button" class="btn btn-success" aria-label="Mark as done" ng-click="issuesCtrl.resolveIssue(issue)">
				<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
			    </button>
			    <button type="button" class="btn btn-danger" aria-label="Delete Note" ng-click="issuesCtrl.deleteIssue(issue)">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
			    </button>
			</span>
		    </div>
		</li>
	    </ul>
	    <form ng-show="issuesCtrl.isFormShown" ng-submit="issuesCtrl.handleForm(issuesCtrl.issue); issuesCtrl.issue = null;">
		<div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" id="title" class="form-control" placeholder="Title of issue" readonly value="{{issuesCtrl.issue.title}}" ng-model="issuesCtrl.issue.title">
		</div>
		<div class="form-group">
		    <label for="body">Body</label>
		    <input type="text" id="body" class="form-control" placeholder="Description of issue" value="{{issuesCtrl.issue.text}}" ng-model="issuesCtrl.issue.text">
		</div>
		<div class="form-group">
		    <label for="body">Assigned to</label>
		    <input type="email" id="body" class="form-control" placeholder="Email of person assigned" value="{{issuesCtrl.issue.assignee}}" ng-model="issuesCtrl.issue.assignee">
		</div>
		<div class="form-group">
		    <label>Priority</label>
		    <div class="radio">
			<label>
			    <input type="radio" name="priority" value="high" ng-checked="issuesCtrl.issue.priority === 'high'" ng-model="issuesCtrl.issue.priority">
			    High
			</label>
		    </div>
		    <div class="radio">
			<label>
			    <input type="radio" name="priority" value="normal" ng-checked="issuesCtrl.issue.priority === 'normal'" ng-model="issuesCtrl.issue.priority">
			    Normal
			</label>
		    </div>
		    <div class="radio">
			<label>
			    <input type="radio" name="priority" value="low" ng-checked="issuesCtrl.issue.priority === 'low'" ng-model="issuesCtrl.issue.priority">
			    Low
			</label>
		    </div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	    </form>
	</div>
    </nav>
</div>