<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

<header>
    <h1 class="text-center">Flatlander Crafted Gems</h1>
    <h2 class="text-center">an Angular store</h2>
</header>


<!-- Communication between 2 controllers (1st controller) -->
<div ng-controller="TestController as test">
    <input type="number" ng-model="test.inputNum" class="form-control" placeholder="add your number" />
    <button type="button" ng-click="test.addElement()">Add</button>
</div>
<!-- /.Communication between 2 controllers (1st controller) -->

<div ng-controller="StoreController as store">

    <!-- Communication between 2 controllers (2nd controller) -->
    <div ng-repeat="num in store.myList track by $index">
        Number is {{num}}
    </div>
    <!-- /.Communication between 2 controllers(2nd controller) -->


    <div ng-repeat="x in store.productsArrWithReviews">

        <!-- Custom Directives -->
        <!-- attribute - mixin behavior (tooltip) -->
        <!-- <h1 product-title></h1> -->
        
        <!-- element -UI widgets -->
        <!-- <product-title></product-title> -->

        <!-- /. Custom Directives -->
        
        
        <h1> {{x.name | uppercase}} </h1>
        <h2> {{x.price | currency }} </h2>
        <p> {{x.descr | limitTo: 5}} </p>
        <!--<img src="{{x.img}}">-->
        <img ng-src="{{x.img}}">
        <button type="button" ng-show="x.canPurchase">Add to cart</button>

        <section ng-controller="PanelController as panel">
            <ul class="nav nav-pills">
                <li ng-class="{active: panel.isSelected(1)}">
                    <a href ng-click="panel.selectTab(1)">Description</a>
                </li>
                <li ng-class="{active: panel.isSelected(2)}">
                    <a href ng-click="panel.selectTab(2)">Specs</a>
                </li>
                <li ng-class=" (panel.isSelected(3)) ? 'active': '' ">
                    <a href ng-click="panel.selectTab(3)">Reviews</a>
                </li>
            </ul>

            <!--  Description Tab's Content  -->
            <div class="panel" ng-show="panel.isSelected(1)">
                <h4>Description Content Here</h4>
            </div>
            <!--  Specs Tab's Content  -->
            <div class="panel" ng-show="panel.isSelected(2)">
                <h4>Specs Content Here</h4>
                <p>sadsdadsadasads</p>
            </div>
            <!--  Reviews Tab's Content  -->
            <div class="panel" ng-show="panel.isSelected(3)">
                <h4>Reviews Content Here</h4>


                <!--  Product Reviews List -->
                <ul>
                    <h4>Reviews</h4>
                    <li ng-repeat="review in x.reviews">
                        <blockquote>
                            <strong>{{review.stars}} Stars</strong>
                            {{review.body}}
                            <cite class="clearfix">—{{review.author}}</cite>
                        </blockquote>
                    </li>
                </ul>
               

                <!--  Review Form -->
                <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                        ng-submit="reviewForm.$valid && reviewCtrl.addReview(x)" novalidate>
					<!--  Live Preview -->
                    <blockquote>
                        <strong>{{reviewCtrl.review.stars}} Stars</strong>
                        {{reviewCtrl.review.body}}
                        <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                    </blockquote>

                    <!--  Review Form -->
                    <h4>Submit a Review</h4>

                    <select class="form-control" ng-model="reviewCtrl.review.stars">
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                    </select>
                    <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." required></textarea>

                    <input type="email" ng-model="reviewCtrl.review.author" class="form-control" placeholder="write your email" />

                    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />

                    <div> reviewForm is {{reviewForm.$valid}}</div>
                    
                    
                    <!-- Include review form -->
                    <!-- <div ng-include=" 'review-form.html' " ></div> -->
                   

                  <!--  <input type="button" class="btn btn-primary mybtn green pull-right" value="New button" ng-click="reviewCtrl.addReview(x)" />-->
                </form>




            </div>


        </section>
        <br>
        <br>





    </div>

</div>



<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.module.js"></script>
<script type="text/javascript" src="store.controller.js"></script>
<script type="text/javascript" src="panel.controller.js"></script>
<script type="text/javascript" src="review.controller.js"></script>
<script type="text/javascript" src="test.controller.js"></script>
<script type="text/javascript" src="http.service.js"></script>
<script type="text/javascript" src="gems.service.js"></script>
<script type="text/javascript" src="shared.service.js"></script>
<script type="text/javascript" src="product-title.directive.js"></script>
</body>
</html>
