<!--  Live Preview -->
                    <blockquote>
                        <strong>{{reviewCtrl.review.stars}} Stars</strong>
                        {{reviewCtrl.review.body}}
                        <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                    </blockquote>

                    <!--  Review Form -->
                    <h4>Submit a Review</h4>

                    <select class="form-control" ng-model="reviewCtrl.review.stars">
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                    </select>
                    <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." required></textarea>

                    <input type="email" ng-model="reviewCtrl.review.author" class="form-control" placeholder="write your email" />

                    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />

                    <div> reviewForm is {{reviewForm.$valid}}</div>