<!DOCTYPE html>
<html >
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

   <!-- <script type="text/javascript" src="/js/dept_delete_controller.js"/>-->

<head>
    <title>Angular version of CRM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script> 
     <script src="/web-customer-tracker/resources/templates/app.js"></script>
     <script type="text/javascript" src="/web-customer-tracker/resources/templates/customer.controller.js"></script>
    <script type="text/javascript" src="/web-customer-tracker/resources/templates/customer.service.js"></script> 
</head>
<body  ng-app="appAngular"class="ng-cloak">
<div class="container">

    <div class="generic-container" ng-controller="CustomerController as customerCtrl">
       <!-- <div class="generic-container" ng-controller="DeptDeleteController as delctrl">-->
        <div>ANGULAR</div>
        <!--  <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->

        <div>
             <!--   <a th:href="@{/hello}" >Spring Hiber-Mvc  version</a>-->

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><span class="lead">List of Customers</span></div>
            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Edit</th>
												<th>Delete</th>
                       <!-- <th width="20%"></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="customer in customerCtrl.customers">
                        <td><span ng-bind="customer.id"></span></td>
                        <td><span ng-bind="customer.firstName"></span></td>
                        <td><span ng-bind="customer.lastName"></span></td>
                        <td><span ng-bind="customer.email"></span></td>
                        <td>
                            <button type="button" ng-click="customerCtrl.edit(customer.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="customerCtrl.remove(customer.id)" class="btn btn-danger custom-width">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

       <!-- </div>-->
    </div>
</div>



   

</body>
</html>