<div ng-app="todoApp" ng-controller="NotesController as noteCtrl">
    <nav class="panel panel-default">
	<div class="panel-heading">
	    <h3>To-do list</h3>
	</div>
	<div class="panel-body">
	    <ul class="list-group">
		<li class="list-group-item list-group-item-success">
		    <form ng-submit="noteCtrl.createNote(body); body = null;">
			<div class="input-group">
			    <input type="text" class="form-control" placeholder="Write new note..." ng-model="body">
			    <span class="input-group-btn">
				<button type="submit" class="btn btn-primary" aria-label="Submit Note">
				    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				</button>
			    </span>
			</div>
		    </form>
		</li>
		<li class="list-group-item" ng-repeat="note in noteCtrl.noteList">
		    <div class="input-group">
			<p class="form-control-static">{{note.body}}</p>
			<span class="input-group-btn">
			    <button type="button" class="btn" ng-class="note.checked ? 'btn-success' : 'btn-default'" aria-label="Mark as done" ng-click="noteCtrl.updateNote(note)">
				<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
			    </button>
			    <button type="button" class="btn btn-danger" aria-label="Delete note" ng-click="noteCtrl.deleteNote(note)">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
			    </button>
			</span>
		    </div>
		</li>
	    </ul>
	    <ul class="nav nav-pills nav-justified">
		<li role="presentation" ng-class="noteCtrl.type === 'checked' ? 'active' : ''"><a href="#" ng-click="noteCtrl.getNotes('checked')">Checked</a></li>
		<li role="presentation" ng-class="noteCtrl.type === 'open' ? 'active' : ''"><a href="#" ng-click="noteCtrl.getNotes('open')">Open</a></li>
		<li role="presentation" ng-class="!noteCtrl.type ? 'active' : ''"><a href="#" ng-click="noteCtrl.getNotes()">All</a></li>
	    </ul>
	</div>
    </nav>
</div>