<div ng-app="wikiApp" ng-controller="WikiController as wikiCtrl">
    <div class="panel panel-default">
	<div class="panel-heading">
	    <h3>Wiki</h3>
	</div>
	<div class="panel-body">
	    <!-- Content -->
	    <div class="col-md-9">
		<div class="tab-content">
		    <form class="form-horizontal" ng-submit="wikiCtrl.handleForm(wikiCtrl.wiki);">
			<fieldset class="row">
			    <div class="form-group col-md-6">
				<label for="title" class="col-sm-1 control-label">Title</label>
				<div class="col-sm-11">
				    <input type="text" id="title" class="form-control" placeholder="Title of wiki" value="{{wikiCtrl.wiki.title}}" ng-model="wikiCtrl.wiki.title">
				</div>
			    </div>
			    <div class="form-group col-md-6">
				<label for="description" class="col-sm-1 control-label">Body</label>
				<div class="col-sm-11">
				    <input type="text" id="description" class="form-control" placeholder="Description of wiki" value="{{wikiCtrl.wiki.description}}" ng-model="wikiCtrl.wiki.description">
				</div>
			    </div>
			</fieldset>
			<div class="row">
			    <div class="form-group col-md-12">
				<label for="body" class="control-label">Content</label>
				<div class="btn-group pull-right" role="group" aria-label="Edit/Preview">
				    <button type="button" class="btn btn-default" ng-class="wikiCtrl.showEditor ? 'active' : ''" ng-click="wikiCtrl.showEditor = true">Edit</button>
				    <button type="button" class="btn btn-default" ng-class="wikiCtrl.showEditor ? '' : 'active'" ng-click="wikiCtrl.showEditor = false">Preview</button>
				</div>
				<div ng-show="wikiCtrl.showEditor">
				    <textarea id="body" class="form-control" rows="10" placeholder="Place wiki content here..." ng-model="wikiCtrl.wiki.body">{{wikiCtrl.wiki.body}}</textarea>
				</div>
				<div class="well col-xs-12" ng-show="!wikiCtrl.showEditor">
				    <p ng-bind-html="wikiCtrl.getTrustedBody(wikiCtrl.wiki)"></p>
				</div>
			    </div>
			</div>
			<div class="row">
			    <input type="submit" class="btn btn-primary" value="Submit"/>
			</div>
		    </form>
		</div>
	    </div>

	    <!-- Navigation Buttons -->
	    <div class="col-md-3">
		<div class="list-group">
		    <a class="list-group-item" href="#" ng-class="wikiCtrl.checkActive()" ng-click="wikiCtrl.wiki = null">New</a>
		    <a class="list-group-item clearfix" href="#" ng-repeat="wiki in wikiCtrl.wikiList" ng-click="wikiCtrl.wiki = wiki" ng-class="wikiCtrl.checkActive(wiki)">
			{{wiki.title}}
			<span class="pull-right">
			    <button class="btn btn-xs btn-danger" ng-click="wikiCtrl.deleteWiki(wiki)">
				<span class="glyphicon glyphicon-trash"></span>
			    </button>
			</span>
		    </a>
		</div>
	    </div>
	</div>
    </div>
</div>