<div>
    <h3>Save Customer</h3>

    <form name="newCustomerForm" ng-controller="NewCustomerController as customerCtrl" ng-submit="customerCtrl.addCustomer()">
	<table>
	    <tbody>
		<tr>
		    <td><label> First name:</label>
		    </td>
		    <td><input type="text" ng-model="customerCtrl.customer.firstName"></td>
		</tr>
		<tr>
		    <td><label> Last name:</label>
		    </td>
		    <td><input type="text" ng-model="customerCtrl.customer.lastName"></td>
		</tr>
		<tr>
		    <td><label> Email:</label>
		    </td>
		    <td><input type="email" ng-model="customerCtrl.customer.email"></td>
		</tr>
		<tr>
		    <td><input type="submit" value="Save" class="save"/></td>
		    <td><input type="reset" value="Reset" class="save"/></td>
		</tr>
	    </tbody>
	</table>
    </form>
</div>