<div id="container" ng-controller="CustomerListController as customersCtrl">
    <table>
	<tr>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Email</th>
	    <th>Edit</th>
	    <th>Delete</th>
	</tr>
	<!--  loop over and print our customers -->
	<tr ng-repeat="customer in customersCtrl.customers">
	    <td>{{customer.firstName}}</td>
	    <td>{{customer.lastName}}</td>
	    <td>{{customer.email}}</td>
	    <td><a href="#/showFormForUpdate/{{customer.id}}">Edit</a></td>
	    <td><a href="" ng-click="customersCtrl.deleteCustomer(customer.id)">Delete</a></td>
	</tr>
    </table>
    <button type="button" onclick="window.location.href = '#showFormForAdd'; return false;"
	    class="add-button">Add Customer</button>
</div>