<div>
    <h3>Update Customer</h3>

    <form ng-controller="UpdateCustomerController as customerCtrl" ng-submit="customerCtrl.updateCustomer()">
	<table>
	    <tbody>
		<tr>
		    <td><label> Id:</label>
		    </td>
		    <td><input type="text" readonly ng-model="customerCtrl.customer.id"></td>
		</tr>
		<tr>
		    <td><label> First name:</label>
		    </td>
		    <td><input type="text" ng-model="customerCtrl.customer.firstName"></td>
		</tr>
		<tr>
		    <td><label> Last name:</label>
		    </td>
		    <td><input type="text" ng-model="customerCtrl.customer.lastName"></td>
		</tr>
		<tr>
		    <td><label> Email:</label>
		    </td>
		    <td><input type="email" ng-model="customerCtrl.customer.email"></td>
		</tr>
		<tr>
		    <td></td>
		    <td><input type="submit" value="Update" class="save"></td>
		</tr>
	    </tbody>
	</table>
    </form>
</div>